# Laboratorio 5

# An√°lisis de Sentimientos

### Cristina Bautista 161260
### Andy Castillo 18040
### Marco Fuentes 18188
### Abril Palencia 18198

In [1]:
import numpy as np
import pandas as pd

In [2]:
import nltk
from nltk.corpus import stopwords
from nltk.classify import SklearnClassifier
from nltk import sent_tokenize, word_tokenize, pos_tag
from nltk.tokenize import RegexpTokenizer
from nltk.stem import WordNetLemmatizer, PorterStemmer
from nltk import FreqDist

In [3]:
from wordcloud import WordCloud, STOPWORDS

import matplotlib.pyplot as plt
from matplotlib.ticker import StrMethodFormatter
%matplotlib inline

In [4]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [5]:
data = pd.read_csv('GrammarandProductReviews.csv')

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71044 entries, 0 to 71043
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    71044 non-null  object
 1   brand                 71044 non-null  object
 2   categories            71044 non-null  object
 3   dateAdded             71044 non-null  object
 4   dateUpdated           71044 non-null  object
 5   ean                   39065 non-null  object
 6   keys                  71044 non-null  object
 7   manufacturer          70903 non-null  object
 8   manufacturerNumber    70841 non-null  object
 9   name                  71044 non-null  object
 10  reviews.date          70977 non-null  object
 11  reviews.dateAdded     71044 non-null  object
 12  reviews.dateSeen      71044 non-null  object
 13  reviews.didPurchase   32158 non-null  object
 14  reviews.doRecommend   60429 non-null  object
 15  reviews.id            32158 non-null  float64
 16  reviews.numHelpful    32508 non-null  float64
 17  reviews.rating        71044 non-null  int64
 18  reviews.sourceURLs    71044 non-null  object
 19  reviews.text          71008 non-null  object
 20  reviews.title         70568 non-null  object
 21  reviews.userCity      5410 non-null   object
 22  reviews.userProvince  449 non-null    object
 23  reviews.username      70948 non-null  object
 24  upc                   71042 non-null  object
dtypes: float64(2), int64(1), object(22)
memory usage: 13.6+ MB

In [8]:
data = data[['brand','categories','manufacturer', 'name', 'reviews.didPurchase', 'reviews.doRecommend', 'reviews.numHelpful', 'reviews.rating', 'reviews.text', 'reviews.title', 'reviews.username']]

In [11]:
data.head()

,brand,categories,manufacturer,name,reviews.didPurchase,reviews.doRecommend,reviews.numHelpful,reviews.rating,reviews.text,reviews.title,reviews.username
0,Universal Music,"Movies, Music & Books,Music,R&b,Movies & TV,Mo...",Universal Music Group / Cash Money,Pink Friday: Roman Reloaded Re-Up (w/dvd),NaN,NaN,0.0,5,i love this album. it's very good. more to the...,Just Awesome,Joshua
1,Lundberg,"Food,Packaged Foods,Snacks,Crackers,Snacks, Co...",Lundberg,Lundberg Organic Cinnamon Toast Rice Cakes,True,NaN,NaN,5,Good flavor. This review was collected as part...,Good,Dorothy W
2,Lundberg,"Food,Packaged Foods,Snacks,Crackers,Snacks, Co...",Lundberg,Lundberg Organic Cinnamon Toast Rice Cakes,True,NaN,NaN,5,Good flavor.,Good,Dorothy W
3,K-Y,"Personal Care,Medicine Cabinet,Lubricant/Sperm...",K-Y,K-Y Love Sensuality Pleasure Gel,False,False,NaN,1,I read through the reviews on here before look...,Disappointed,Rebecca
4,K-Y,"Personal Care,Medicine Cabinet,Lubricant/Sperm...",K-Y,K-Y Love Sensuality Pleasure Gel,False,False,NaN,1,My husband bought this gel for us. The gel cau...,Irritation,Walker557

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71044 entries, 0 to 71043
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   brand                71044 non-null  object
 1   categories           71044 non-null  object
 2   manufacturer         70903 non-null  object
 3   name                 71044 non-null  object
 4   reviews.didPurchase  32158 non-null  object
 5   reviews.doRecommend  60429 non-null  object
 6   reviews.numHelpful   32508 non-null  float64
 7   reviews.rating       71044 non-null  int64
 8   reviews.text         71008 non-null  object
 9   reviews.title        70568 non-null  object
 10  reviews.username     70948 non-null  object
dtypes: float64(1), int64(1), object(9)
memory usage: 6.0+ MB